html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', Segoe UI, "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "メイリオ", sans-serif;
}
.header h1 {
  color: rgba(0, 0, 0, 0.75);
}
small {
    opacity: 0.5;
}
p {
    padding-top: 10px;
    padding-bottom: 10px;
}
td a:link
{
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
td a:visited
{
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
td a:hover
{
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
td a:active
{
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.vert-text h1 {
  padding: 0 0 50px 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}
/*.container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
}*/
.row {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 15px 0px;
}
.btn {
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-default {
    border: 1px solid #000000;
    color: #ffffff;
    background-color: #000000;
}
.btn-default:hover,
.btn-default:focus {
    border: 1px solid #00a0e9;
    outline: 0;
    color: #ffffff;
    background-color: #00a0e9;
}
.btn-primary {
    border: 1px solid #ffffff;
    color: #000000;
    background-color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus {
    border: 1px solid #00a0e9;
    outline: 0;
    color: #ffffff;
    background-color: #00a0e9;
}
.list-inline > li.button {
    padding-top: 10px;
    padding: 10px;
}
.accent {
    text-transform: uppercase; 
}
.animatable {
    color: #000000;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    transform: scale(1);
}
.animatable:hover,
.animatable:focus {
    outline: 0;
    color: #00a0e9;
    transform: scale(1.1);
}
img.popupable {
  margin: 0px 0px 0px 0px;
}
.annotations {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: left;
}
.annotations > div {
  float: left;
  position: relative;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 10px 10px;
  border-width: 0px;
  line-height: 0px;
}
.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}
div.background {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
img.background {
  z-index: -3;
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
@-webkit-keyframes loop {
    0% { visibility: visible; }
    5% { visibility: visible; }
    10% { visibility: hidden; }
    100% { visibility: hidden; }
}
@-o-keyframes loop {
    0% { visibility: visible; }
    5% { visibility: visible; }
    10% { visibility: hidden; }
    100% { visibility: hidden; }
}
@keyframes loop {
    0% { visibility: visible; }
    5% { visibility: visible; }
    10% { visibility: hidden; }
    100% { visibility: hidden; }
}
div.blind {
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: 0%;
  background: #00a0e9;
}
.normal {
  padding: 50px 0;
}
.normal-item {
  margin-bottom: 25px;
}
.img-normal {
  margin: 0 auto;
}
.highlight {
  background: #00a0e9;
  padding: 50px 0;
  color: #ffffff;
}
.highlight-item {
  margin-bottom: 15px;
}
i.highlight-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}
.preview {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../images/Alicja.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  animation: fadein 1s ease-out;
}
.map {
  height: 500px;
}
footer {
  padding: 100px 0;
}
.top-scroll {
  margin-top: 50px;
}
.top-scroll a {
  text-decoration: none;
  color: inherit;
}
i.scroll {
  color: #000000;
}
i.scroll:hover {
  color: #00a0e9;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@media (max-width: 768px) {
  .preview {
	background: url(../images/Alicja.jpg) no-repeat center center scroll; 
  }
  .map {
	height: 75%;
  }
}
