html,
body {
  height: 100%;
  width: 100%;
  font-family: Montserrat, Segoe UI, "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "メイリオ", sans-serif;
}
small {
    opacity: 0.5;
}
p {
    padding-top: 10px;
    padding-bottom: 10px;
}
.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.vert-text h1 {
  padding: 0 0 50px 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}
.btn {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-default {
    border: 1px solid #000000;
    color: #ffffff;
    background-color: #000000;
}
.btn-default:hover,
.btn-default:focus {
    border: 1px solid #00a0e9;
    outline: 0;
    color: #ffffff;
    background-color: #00a0e9;
}
.btn-primary {
    border: 1px solid #00a0e9;
    color: #ffffff;
    background-color: #00a0e9;
}
.btn-primary:hover,
.btn-primary:focus {
    border: 1px solid #ffffff;
    outline: 0;
    color: #000000;
    background-color: #ffffff;
}
.list-inline > li.button {
    padding-top: 10px;
    padding: 10px;
}
.highlight {
    text-transform: uppercase; 
}
.animatable {
    color: #000000;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    transform: scale(1);
}
.animatable:hover,
.animatable:focus {
    outline: 0;
    color: #00a0e9;
    transform: scale(1.1);
}
img.popupable {
  margin: 25px 0;
}
.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  /*background: url(../images/Background.jpg) no-repeat 50% 50% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  animation: fadein 1s ease-out;
}
div.background {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  overflow: hidden;
}
img.background {
  /*min-height: 100%;*/
  min-width: 1920px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1920px) {
  img.background {
    left: 50%;
    margin-left: -960px;
  }
}
.normal {
  padding: 50px 0;
}
.normal-item {
  margin-bottom: 25px;
}
.img-normal {
  margin: 0 auto;
}
.highlights {
  background: #00a0e9;
  padding: 50px 0;
  color: #ffffff;
}
.highlight-item {
  margin-bottom: 15px;
}
i.highlight-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}
.preview {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../images/Alice.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  animation: fadein 1s ease-out;
}
.map {
  height: 500px;
}
footer {
  padding: 100px 0;
}
.top-scroll {
  margin-top: 50px;
}
.top-scroll a {
  text-decoration: none;
  color: inherit;
}
i.scroll {
  color: #000000;
}
i.scroll:hover {
  color: #00a0e9;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@media (max-width: 768px) {
  .header {
	background: url(../images/Background.jpg) no-repeat center center scroll; 
  }
  .preview {
	background: url(../images/Alice.jpg) no-repeat center center scroll; 
  }
  .map {
	height: 75%;
  }
}
