# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

pyjwt
cryptography
psycopg2-binary
SQLAlchemy
redis
azure-functions
azure-cosmos
boto3
google-auth
google-cloud-storage
gradio_client==1.4